{% extends 'General/index.html'%}
{% load staticfiles %}
{% block leftbar %}
<img class="circular-square" src="{% static 'img/default.jpg' %}" height="125px" width="125px">
<i><h4 style="color:white; margin-left:85px;"> Guest</h4></i>
<ul>
<li class="active"><a href="{% url 'g_softwares'%}">Softwares</a></li>
<li><a href="{% url 'log_pg'%}">Login</a></li>
<li><a href="{% url 'reg_pg' %}">Register</a></li>
</ul>
{% endblock %}

{% block rightbar %}
<h2>{{ soft_det.name }}</h2>
<h3>cover_pic</h3>
 <img class="circular-square" style="margin-left:25px;" src="{{ soft_det.cover_pic.url }}" height="125px" width="125px" >
<h3>Name : </h3> {{ soft_det.name }}
<h3>Uploaded By : </h3>{{ soft_det.own_by.name }}
<h3>Description : </h3><p>{{ soft_det.description }}</p>
<h3>Requirements : </h3><p>{{ soft_det.requirements}}</p>
<h3>Likes : </h3><p>{{ soft_det.likes}}</p>
<h3>Downloads : </h3><p>{{ soft_det.download}}</p>
<form action="{% url 'g_down' soft_det.id %}" method="post">
  {% csrf_token %}
   <input type="submit" class="btn btn-default" value="Download" >
</form>

{% endblock %}
