{% extends 'General/base_profile.html' %}
<style>
#Description{
      rows:5;
      width:40%;
      height:150px;
}


</style>
{% block dp%}
<img  class="circular-square" src= "{{ user_det.pro_pic.url }}" height="100px" width="100px"/>
{% endblock%}
{% block name %}{{ user_det.name }}{% endblock%}
{% block links %}
<li class="active"><a href="{% url 'softwares_pg' user_det.id %}">Softwares</a></li>
<li><a href="{% url 'upload_pg' user_det.id %}">Uploads</a></li>
<li><a href="{% url 'download_pg' user_det.id %}">Downloads</a></li>
<li><a href="{% url 'view_pg' user_det.id %}">Profile</a></li>
<li><a href="{% url 'logout' user_det.id %}">Logout</a></li>
{% endblock %}

{% block rightbar%}
<div class="wrapper">
<div>
<h3>Your Uploads</h3>
{% if soft_det %}
   {% for s in soft_det %}
   <div class="col-sm-4">
     <div class="panel panel-default">
       <a href="{% url 'soft_view' user_det.id s.id %}">
       <div class="panel-body">
          <img class="circular-square" style="margin-left:25px;" src="{{ s.cover_pic.url }}" height="125px" width="125px" >
          <h4>{{ s.name }}</h4>
       </div>
       </a>
      <div class="panel-footer">Likes <label class="glyphicon glyphicon-heart" id='pa_label'></label>   {{ s.likes }} <br>
      Downloads <label class="glyphicon glyphicon-download-alt" id='pa_label'></label>  {{ s.download }}</div>
    </div>
  </div>
   {% endfor %}
{% else %}
      <h3> You have not uploaded any Softwares.</h3>
{% endif %}
</div>
</div>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>

  <h3> Upload here Now!!</h3>

  <form action="{% url 'upload' user_det.id %}" method="post">
                  {% csrf_token %}
                    <h5>SoftwareName</h5>
    <input type="text" name="SoftwareName" class="form-control" id="SoftwareName" placeholder="SoftwareName"><br>
  <h5>Descrpition</h5>
    <input type="text" name="Descrpition" class="form-control"  style="width:100%; height:100px; "  id="Descrpition" placeholder="Descrpition"><br>
  <h5>Requirements</h5>
    <input type="text" name="Requirements" class="form-control"  style="width:100%; height:100px;"  id="Requirements" placeholder="Requirements">
                  <br>
                <h5>  Choose your file  <input type="file" name="file" id="file" class="btn btn-default" >*upload as zip or rar file*</h5>
                  <br>
                  <h5>  Any Coverpic  <input type="file" name="pic_file" id="pic_file" class="btn btn-default" ></h5>
                    <br>
                  <input type="submit" class="btn btn-default" value="Upload">
             </form>
             <br>
             <br>
{% endblock%}
