{% extends 'General/base_profile.html' %}

{% block dp%}
<img class="circular-square" src= "{{ user_det.pro_pic.url }}" height="100px" width="100px"/>
{% endblock%}
{% block name %}{{ user_det.name }}{% endblock%}
{% block links %}
<li class="active"><a href="{% url 'softwares_pg' user_det.id %}">Softwares</a></li>
<li><a href="{% url 'upload_pg' user_det.id %}">Uploads</a></li>
<li><a href="{% url 'download_pg' user_det.id %}">Downloads</a></li>
<li><a href="{% url 'view_pg' user_det.id %}">Profile</a></li>
<li><a href="{% url 'logout' user_det.id %}">Logout</a></li>
{% endblock %}

{% block rightbar%}

<h2>{{ user_det.name }}</h2>
<h3>Profile Pic</h3>
 <img class="circular-square" style="margin-left:25px;" src="{{ user_det.pro_pic.url }}" height="125px" width="125px" >
<h3>Name : </h3><i> <h4>{{ user_det.name }}</i> </h4>
<h3>Mail id : </h3><i> <h4> {{ user_det.mail }}</i> </h4>
<h3>Date Of Birth : </h3><i> <h4>{{ user_det.dob }}</i> </h4>
<h3>Mobile : </h3><i> <h4>{{ user_det.mobile}}</i> </h4>

{% endblock%}
